server:
  port: ${APP_WEBFLUX_SERVER_PORT:8081}

spring:
  application:
    name: tech-blog-webflux

  security:
    cors:
      allowed-origins:
        - http://localhost:3000
        - http://localhost:5500
        - http://127.0.0.1:5500
        - ${CORS_ALLOWED_ORIGIN:http://localhost:3000}
      allowed-methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
      allowed-headers:
        - "*"
      allow-credentials: true
      max-age: 3600
      exposed-headers:
        - Set-Cookie
        - Authorization

openai:
  model: gpt-3.5-turbo
  api:
    url: https://api.openai.com
    key: ${OPENAI_API_KEY:ai_api-key}
