spring:
  application:
    name: community

  output:
    ansi:
      enabled: always

  datasource:
    url: jdbc:mysql://localhost:3306/kbt-community?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        generate_statistics: true
        session.events.log: false

storage:
  cloudinary:
    api:
      key: ${CLOUDINARY_API_KEY}
      secret: ${CLOUDINARY_API_SECRET}
    cloud:
      name: ${CLOUDINARY_CLOUD_NAME}
    upload:
      preset: ${CLOUDINARY_UPLOAD_PRESET:ml_default}

logging:
  level:
    org.hibernate.engine.internal.StatisticalLoggingSessionEventListener: OFF
