server:
  port: 8080

spring:
  application:
    name: api-app-server

  profiles:
    include: logging

  output:
    ansi:
      enabled: always

  datasource:
    url: jdbc:mysql://localhost:3306/mydb?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: myuser
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: 0

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        generate_statistics: true

storage:
  cloudinary:
    api:
      key: ${CLOUDINARY_API_KEY}
      secret: ${CLOUDINARY_API_SECRET}
    cloud:
      name: ${CLOUDINARY_CLOUD_NAME}
    upload:
      preset: ${CLOUDINARY_UPLOAD_PRESET:ml_default}

  security:
    jwt:



cors:
  allowed-origins:
    - http://localhost:3000
    - http://localhost:5500
    - http://127.0.0.1:5500
    - ${CORS_ALLOWED_ORIGIN:http://localhost:3000}
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
    - PATCH
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true
  max-age: 3600
  exposed-headers:
    - Set-Cookie
    - Authorization
